@using System.Web.Optimization

@{
    ViewBag.Title = "StartUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 data-ng-bind="page.title"></h2>
<div ng-view></div>
@section HeadStyles
{
    @Styles.Render("~/Content/Custom/Home")
}
