<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStatisticsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2028/StatisticsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStatisticsService"
                contract="StatisticsServices.IStatisticsService" name="BasicHttpBinding_IStatisticsService" />
        </client>
    </system.serviceModel>
</configuration>